RewriteEngine On
RewriteRule ^yazarlar/([^/]+)$ yazarlar/index.php?isim=$1 [L]
#   RewriteCond %{HTTP_HOST} ^oislamoglu.bistbilisim.com [NC, OR]
#   RewriteCond %{HTTP_HOST} ^www.oislamoglu.bistbilisim.com [NC]
#   RewriteRule ^(.*)$ https://oislamoglu.bistbilisim.com/$1 [L,R=301,NC]*