*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body .btn-outline-success
{
   --bs-btn-color: #E7B761;
   --bs-btn-border-color: #E7B761;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #E7B761;
    --bs-btn-hover-border-color: #E7B761;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #E7B761;
    --bs-btn-active-border-color: #E7B761;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #E7B761;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #E7B761;
}
img
{
   user-select: none;
}
.row .card
{
   border-radius: 20px;
   overflow: hidden;
   transition: 0.3s ease-in-out;
   height: 440px;
}
.row .card a
{
   color: white;
   text-decoration: none;
}
.row .card img
{
   width: 100%;
   height: 250px;
   max-height: 250px;
   object-fit: cover;
   object-position: center;
}
.row .btn-outline-success
{
   transition: 0.35s ease-in-out;
}
form textarea
{
   height: 400px;
   resize: none;
}
.wrapper
{
   padding-top: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 20px;
   width: 100%;
}
.wrapper h1
{
   text-align: center;
   font-weight: bold;
   font-size: 54px;
   user-select: none;
   letter-spacing: 2px;
   color: #E7B761;
   text-shadow: 0 8px 6px black;
   font-style: italic;
}
.card:hover
{
   box-shadow: 0 0 15px 3px #E7B761;
   border: 1px solid #E7B761;
}
.card:hover .btn-outline-success
{
   --bs-btn-color: #fff;
   --bs-btn-bg: #E7B761;
   --bs-btn-border-color: #E7B761;
}
.dropdown-menu .dropdown-item.active, .dropdown-menu .dropdown-item:active
{
   background-color: #E7B761;
   color: #151515;
}
.kategori .btn-secondary
{
   --bs-btn-color: #E7B761;
   --bs-btn-border-color: #E7B761;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #E7B761;
    --bs-btn-hover-border-color: #E7B761;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #151515;
    --bs-btn-active-bg: #E7B761;
    --bs-btn-active-border-color: #E7B761;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #E7B761;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #E7B761;
    background: transparent;
}
.kategori .btn:hover
{
   color: #151515;
}