body
{
    background-image: url("Pictures/body-bg.png");
    background-color: #C1DEEE;
    /*
    Üst kısmı yana doğru dağıtmak istiyorsan
    bu kodu yaz ve alttaki 2 satırı sil

    background-repeat: repeat-x;
    */
    background-repeat: no-repeat;
    background-size: 100%;
}
#kutucuk
{
    width: 32%;
    min-width: 350px;
    background-color: #ffffff;
    margin:auto;
    padding: 15px;
    border: 6px solid #80b8d4;
    border-radius: 20px;
}
#resim
{
    background-color: #80b8d4;
    padding-bottom: 15px;
    border-radius: 35px;
    display: block;
    margin: auto;
}
h1
{
    font-size: 30px;
    text-align: center;
}
h2
{
    font-size: 24px;
    color: #80b8d4;
}
#aciklamaparagrafi
{
    color: rgb(0, 150, 0);
}
a
{
    color:blue;
}