*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
}
body
{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 15px;
   height: 100vh;
   background-color: #151515;
   padding: 30px;
}
h1
{
   text-align: center;
   color: white;
}
.slider
{
   width: 80%;
   overflow: hidden;
   border: 3px solid #323232;
   border-radius: 35px;
   box-shadow: 0 0 30px 5px #333;
}
.gallery
{
   position: relative;
   width: 400%;
   left: 0;
   animation: 16s slide-anim infinite;
}
@keyframes slide-anim {
   0%{left: 0;}
   20%{left: 0;}
   25%{left: -100%;}
   45%{left: -100%;}
   50%{left: -200%;}
   70%{left: -200%;}
   75%{left: -300%;}
   90%{left: -300%;}
}
.gallery img
{
   width: 25%;
   float: left;
}